.watch {
	position: relative;
	width: 1620px;
	height: 940px;
	margin: 0 auto;
	font-family: Roboto;
}
h1 {
	width: 1px;
	height: 1px;
	font-size: 1px;
	color:  #bf95a1;
	background-color: #bf95a1;
	overflow: hidden;
}
.watch .watch-title {
	position: absolute;
	left: 210px;
	top: 205px;
	width: 793px;
	height: 208px;

	font-weight: 900;
	font-size: 89px;
	line-height: 104px;
	color: #FEFEFE;
}
.watch .watch-online-button {
	position: absolute;
	left: 209px;
	top: 451px;
	color: #FEFEFE;
}
/* Networks --------------------------------------------------------*/
.watch .networks {
	position: absolute;
	left: 1px;
	top: 722px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 20px;
	height: 107px;
}
.watch .networks a {width: 20px;}
.watch .insta {
	background: url("../assets/insta.svg");
	height: 20px;
}
.watch .twit {
	background: url("../assets/twit.svg");
	height: 16.25px;
}
.watch .youtube {
	background: url("../assets/youtube.svg");
	height: 13.75px;
}
.watch .vk {
	background: url("../assets/vk.svg");
	height: 11.41px;
}
/* Gallery ---------------------------------------------- */
.watch .gallery {
	position: absolute;
	top: 406px;
	left: 689px;

	width: 1072px;
	height: 490px;
	overflow: hidden;
}
.watch .white-line {
	position: absolute;
	top: 182px;
	left: 0;
	width: 1087px;
	height: 13px;
	background: url("../assets/line.svg");
}
.watch .pictures {
	position: absolute;
	display: flex;
	justify-content: start;
	align-items: start;

	width: 937px;
	height: 352px;
	margin-left: 135px;
}
.watch .pictures img {
	width: 140px;
	height: 203px;
	border-radius: 5px;
}
.watch .watch-picture { /*figure*/
	position: relative;
	width: 140px;
	height: 352px;
	margin-right: 46px;
	padding-top: 89px;
}
.watch .pet-card {
	position: absolute;
	top: 228px;
	left: 18px;
}
.watch .watch-picture.big-picture { /*big figure*/
	width: 245px;
	height: 352px;
	padding-top: 0px;
	box-shadow: 5px 4px 50px 0 rgba(152,157,198,.25);
}
.watch .watch-picture.big-picture img{
	width: 245px;
	height: 352px;
	box-shadow: 5px 4px 50px 0 rgba(152,157,198,.25);
}
.watch .ranger {
	position: absolute;
	top: 360px;
	left: 321px;
	color: #FEFEFE;
}
.watch input[type=range]::-webkit-slider-thumb {background: var(--c-font-3);}
.watch input[type=range]::-moz-range-thumb {background:  var(--c-font-3);}


@media (max-width: 1919px) {
	.watch {
		width: 900px;
		height: 926px;
	}
	.watch .watch-title {
		position: absolute;
		left: 00px;
		top: 127px;
	}
	.watch .big-watch-btn {
		position: absolute;
		left: 0px;
		top: 372px;
	}
	.watch .gallery {
		position: absolute;
		top: 390px;
		left: 330px;
		width: 720px;
		overflow: hidden;
	}
	.watch .watch-picture { /*figure*/
		position: relative;
		width: 180px;
		margin-right: 30px;
		padding-top: 87px;
	}
	.watch .pictures img {
		width: 180px;
		height: 261px;
	}
	.watch .watch-picture.big-picture { /*big figure*/
		padding-top: 42px;
	}
	.watch .ranger {
		position: absolute;
		top: 407px;
		left: 351px;
	}
	.watch .pet-card {
		position: absolute;
		top: 270px;
		left: 18px;
	}
	.watch .white-line {
		position: absolute;
		top: 224px;
	}
	.watch .networks {
		position: absolute;
		top: 747px;
		left: 0px;

	}
	
}